In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.1'

In [12]:
dict_measures = {
  'age': [15, 18, 25, 25, 40, 55, 58, 60, 80], 
  'height': [160, 162, 165, 168, 172, 174, 174, 174, 176]
}

In [13]:
dict_measures

{'age': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'height': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [15]:
df_medidas = pd.DataFrame.from_dict(dict_measures)

In [16]:
df_medidas

   age  height
0   15     160
1   18     162
2   25     165
3   25     168
4   40     172
5   55     174
6   58     174
7   60     174
8   80     176

## Measures and Summary

### Position Measures

In [38]:
# mean
df_medidas["age"].mean()

41.77777777777778

In [37]:
# median
df_medidas["age"].median()

40.0

In [36]:
# mode
df_medidas["age"].mode()

0    25
Name: age, dtype: int64

In [39]:
# height mode
df_medidas["height"].mode()

0    174
Name: height, dtype: int64

### Measures of Position

In [40]:
# variance
df_medidas.age.var()

509.94444444444446

In [41]:
# standard deviation
df_medidas.age.std()

22.58194952709895

In [47]:
# coefficient | Age
df_medidas.age.std() / df_medidas.age.mean() * 100

54.05253876167302

In [48]:
# coefficient | Height
df_medidas.height.std() / df_medidas.height.mean() * 100

3.4803552812368785

### Measures Shape

In [50]:
# asymmetry | age
df_medidas.age.skew()

0.368108517895537

In [52]:
# asymmetry | height
df_medidas.height.skew()

-0.598486996170113

In [53]:
# kurtosis | age
df_medidas.age.kurtosis()

-1.1344461075421046

In [54]:
# kurtosis | height
df_medidas.height.kurtosis()

-1.3372641199913002

In [55]:
# obtain measures statistics
df_medidas.age.describe()

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: age, dtype: float64